<!DOCTYPE html>
<html>
<head>
  <title>Dating</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "underscore" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "backbone" %>
  <%= javascript_include_tag "app" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
